body {
    background: powderblue;
}
.clearfix {
    overflow:auto;
}
div#mother {
  border: 8px darkblue;
  border-radius: 10px;
  margin: 30px 100px 30px 100px ;
  padding: 0px;
  background-color: white;
}
div#topBar {
  margin: 10px;
  margin-top: -20px;

}
div#hud {
  float:right;
  margin-top: 80px;
  margin-left: -10px;
  margin-right:20px;

}
p#temp {
  color: black;
  font-size: 30px;
  font-family: sans-serif;

}
img#lightPic {
  width: 60px;
  height: 60px;
  margin-top: -30px;
}
img#header{
float:center;
width:500px;
height:200px;
margin-top:10px;
margin-left:100px;
margin-bottom:-10px;
}
div#content {
    border: 3px ridge deepskyblue;
    border-radius: 5px;
    background: white;
    margin: 10px;
    padding: 10px;

}
div#content.text {
    margin: 15px;
}
div#reminderWindow {
  border: 1px blue solid;
  display: none;
  background-color:azure;
  margin-right:-3px;
  margin-left:7px;
  margin-top: 65px;
  padding: 10px;
  border-radius: 10px;
}
div#alarmWindow {
  display: none;
  background-color: azure;
  margin-right:-3px;
  margin-left:7px;
  margin-top: 65px;
  padding: 10px;
  border-radius: 10px;
}
div#toggleReminderWrapper {
  float: left;
  width: 49%;
}
div#toggleAlarmWrapper {
  float: right;
  width: 49%;
}
button#toggleReminderButton {
  background: deepskyblue;
  color: white;
  width: 100%;
  height: 50px;
  display: table-cell;
  margin-left:6px;
  font:cortana;
}
button#toggleAlarmButton {
  background: deepskyblue;
  color: white;
  width: 100%;
  height: 50px;
  display: table-cell;
  margin-left:6px;
}
div#recipeResultWindow {
  display: none;
}

button  {
    border-width: 2px;
    border-color: white;
    border-radius: 4px;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    margin-left: -2px;
}
div#recipeWindow
{
    margin:10px;
    margin-top:15px;
}
div.fakeRecipeWrapper {
  border: 1px ridge deepskyblue;
  margin: 10px;
}
