body {
    background: gray;
}
.clearfix {
    overflow:auto;
}

div#mother {
    margin: 10px;
}
div#topBar {
    margin: 10px;
}
div#navBar {
    float:left;
    border: dotted 1px red;
    border-radius: 25px;
    background: white;
    margin: 10px;
    padding: 5px;
    padding-right: 10px;
    display: block;
}
div#content {
    border: 2px dotted purple;
    border-radius: 5px;
    background: cornsilk;
    margin: 10px;
    padding: 5px;
}
div#content.text {
    margin: 15px;
}
div#reminderWindow {
  display: none;
  background-color: crimson;
}
div#alarmWindow {
  display: none;
  background-color: crimson;
}
button#toggleReminderButton {
  float: left;
  background: maroon;
  border: 1px solid purple;
  color: white;
}
button#toggleAlarmButton {
  float: right;
  background: maroon;
  border: 1px solid purple;
  color: white;
}
button#toggleBar {
  background-color: purple;
  color: red;
}
h1{
    text-align: center;
}
